@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins&display=swap');

.content-box {
	background-color: #242424;
	border-radius: 25px;
	padding: 3rem;
	max-width: 75%;
	display: block;
	color: white;
	margin-bottom: 5rem;
	font-size: x-large;
	margin-left: 50%;
	transform: translateX(-50%);
	text-align: center;
	margin-top: 3rem;
}

.content-box h1 {
	font-family: 'Concert One', cursive;
	margin-bottom: 2rem;
}

.card-header,
.card-body,
.card-footer {
	text-align: center;
}

.products-wrapper {
	margin-bottom: 2rem;
}
.products-list {
	overflow-x: auto;
}
.products-list .card {
	margin-left: 1rem;
}

#cartButton {
	position: absolute;
	top: 3rem;
	right: 3rem;
}

#backButton {
	position: absolute;
	top: 3rem;
	left: 3rem;
}
